body {
    padding: 30px;
    background-color: #f8f9fa;
}

h1 {
    text-align: center;
    margin-bottom: 40px;
}

.objet {
    border: 1px solid #dee2e6;
    padding: 20px;
    border-radius: 10px;
    background-color: white;
    margin-bottom: 20px;
}

.dispo {
    color: green;
    font-weight: bold;
}

.emprunte {
    color: red;
    font-weight: bold;
}
